.grid {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 480px;
    height: 500px;
    background-color: gray;
}

.grid div {
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 5px;
    background-color: darkorange;
    font-size: 48px;
    text-align: center;
    line-height: 16vmin;
}